<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServer</servlet-name>
        <servlet-class>servlet.LoginServer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServer</servlet-name>
        <servlet-class>servlet.SignUpServer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServer</servlet-name>
        <servlet-class>servlet.HomeServer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServer</servlet-name>
        <servlet-class>servlet.LogOutServer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerAccountServer</servlet-name>
        <servlet-class>servlet.ManagerAccountServer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptServer</servlet-name>
        <servlet-class>servlet.AcceptServer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartItemServer</servlet-name>
        <servlet-class>servlet.CartItemServer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServer</servlet-name>
        <servlet-class>servlet.CartServer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BillServer</servlet-name>
        <servlet-class>servlet.BillServer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServer</servlet-name>
        <servlet-class>servlet.UploadServer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServer</servlet-name>
        <url-pattern>/LoginServer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServer</servlet-name>
        <url-pattern>/SignUpServer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServer</servlet-name>
        <url-pattern>/HomeServer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServer</servlet-name>
        <url-pattern>/LogOutServer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerAccountServer</servlet-name>
        <url-pattern>/ManagerAccountServer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptServer</servlet-name>
        <url-pattern>/AcceptServer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartItemServer</servlet-name>
        <url-pattern>/CartItemServer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServer</servlet-name>
        <url-pattern>/CartServer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BillServer</servlet-name>
        <url-pattern>/BillServer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServer</servlet-name>
        <url-pattern>/UploadServer</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
